version: '3.8'

services:
  app:
    build: .
    container_name: java-grade-app
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/gradedb
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres

      - SPRING_JPA_HIBERNATE_DDL_AUTO=create
      - SPRING_JPA_GENERATE_DDL=true

      - SPRING_JPA_SHOW_SQL=true
      - SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true

  db:
    image: postgres:16-alpine
    container_name: postgres-db
    environment:
      - POSTGRES_DB=gradedb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: